body {
    position: absolute;

    margin: 0px;

    width: 100%;
    height: 1200px;

    text-align: center;

    overflow-y: scroll;
    overflow-x: hidden;

}

.header {
    position: relative;

    text-align: center;

    top: 15px;

    font-family: 'Lucida Sans';
    font-weight: 300;
    letter-spacing: 3px;

    color: rgb(92, 92, 92);
}

.content{
    position: absolute;
    display: inline-block;

    width: 98%;
    height: 200vh;

    top: 100px;

    transform: translate(-50%,0);
}

#ins{
    position: absolute;
    display: inline-block;

    top: -30%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: gray;

    font-family: 'Lucida Sans';
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 1px;
}

.topRes{
    position: absolute;
    display: inline-block;

    width: 95%;
    height: 15vh;

    left: 50%;
    top: 18%;

    transform: translate(-50%, -50%);
    opacity: 1;
}

.resBox{
    position: absolute;
    display: inline-block;

    width: 33%;
    height: 100%;

    top: 50%;


    margin: 0px 0px;
    transform: translate(0, -50%);

    background-color: white;

    border: 1px solid black;
    transition: 0.3s;


}

.topRes:hover .resBox{
    opacity: 0;
}

.topRes:hover #ins{
    opacity: 0;
}

#one{
    left: 0%;
}

#two{
    left: 50%;
    transform: translate(-50%, -50%);
}

#three{
    right: 0%;
}

#one:hover{
    height: 450%;
    width: 40%;
    opacity: 1;
}

#two:hover{
    height: 450%;
    width: 40%;
    opacity: 1;
}

#three:hover{
    height: 450%;
    width: 40%;
    opacity: 1;
}

.resBox h1{
    position: absolute;

    top: 50%;

    transform: translate(0, -50%);

    margin: 0px;
    padding: 0px;

    font-family: 'Lucida Sans';
    font-weight: 300;
    letter-spacing: 3px;
    transition: 0.3s;
}

.resBox:hover h1{
    top: 10%;
    transition: 0.3s;
}

.resBox:hover .cont{
    display: inline-block;
    transition: 0.3s;
}

.resBox:hover #ins{
    opacity: 0;
    transition: 0.3s;
}

.name{
    left: 15px;
}

.score{
    right: 15px;
}

.cont{
    display: none;
    position: absolute;

    left: 50%;
    top: 60%;

    text-align: left;

    padding: 10px;

    width: 95%;
    height: 70%;

    transform: translate(-50%,-50%);

    transition: 0.3s;
}

.list{
    margin-top: 15px;
    margin-left: 20px;
}

.botRes{
    position: absolute;
    display: inline-block;

    width: 95%;
    height: 60vh;

    left: 50%;
    top: 38%;

    transform: translate(-50%, 0);

}

.botRes h1{
    position: absolute;

    top: 10%;

    transform: translate(0, -50%);

    margin: 0px;
    padding: 0px;

    font-family: 'Lucida Sans';
    font-weight: 300;
    letter-spacing: 3px;
    transition: 0.3s;
}
.box{
    position: absolute;
    display: inline-block;

    width: 33%;
    height: 100%;

    top: 50%;


    margin: 0px 0px;
    transform: translate(0, -50%);

    background-color: white;

    border: 1px solid black;
    transition: 0.3s;

}

#b4{
    left: 0%;
}

#b5{
    left: 50%;
    transform: translate(-50%, -50%);
}

#b6{
    right: 0%;
}

.botRes .cont{
    display: inline-block;
}

button{
    display: inline-block;
    position: absolute;

    bottom: 400px;
    left: 50%;


    transform: translate(-50%, -50%);
}