@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'clashreg';
    src: url('/assets/fonts/Clash/ClashDisplay-Regular.woff2') format('opentype');
}

@font-face {
    font-family: 'clashmed';
    src: url('/assets/fonts/Clash/ClashDisplay-Medium.woff2') format('opentype');
}

@font-face {
    font-family: 'clashbold';
    src: url('/assets/fonts/Clash/ClashDisplay-Bold.woff2') format('opentype');
}

@font-face {
    font-family: 'clashsemibold';
    src: url('/assets/fonts/Clash/ClashDisplay-Semibold.woff2') format('opentype');
}

@font-face {
    font-family: 'satoshireg';
    src: url('/assets/fonts/Satoshi/Satoshi-Regular.woff2') format('opentype');
}

@font-face {
    font-family: 'satoshimed';
    src: url('/assets/fonts/Satoshi/Satoshi-Medium.woff2') format('opentype');
}

@font-face {
    font-family: 'satoshilight';
    src: url('/assets/fonts/Satoshi/Satoshi-Light.woff2') format('opentype');
}

@font-face {
    font-family: 'satoshiblack';
    src: url('/assets/fonts/Satoshi/Satoshi-Black.woff2') format('opentype');
}

@font-face {
    font-family: 'ginto';
    src: url('/assets/fonts/Ginto/Ginto-Nord-Ultra.woff') format('opentype');
}



@layer components {
    .bg-glassmorphism {
        @apply border rounded-lg;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur( 24px );
        -webkit-backdrop-filter: blur( 24px );
        border-color: rgba(255, 255, 255, 0.18);
    }
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #E6DDD2;
}

::-webkit-scrollbar-thumb {
    background: #03346E; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #03346E #E6DDD2; 
}