@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'eurostile';
    src: url('/assets/fonts/Eurostile-Extended-Regular.ttf');
}

@font-face {
    font-family: 'syne-reg';
    src: url('/assets/fonts/syne/Syne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'syne-med';
    src: url('/assets/fonts/syne/Syne-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'syne-semibold';
    src: url('/assets/fonts/syne/Syne-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'syne-bold';
    src: url('/assets/fonts/syne/Syne-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'syne-extrabold';
    src: url('/assets/fonts/syne/Syne-ExtraBold.ttf') format('truetype');
}



@layer components {
    .bg-glassmorphism {
        @apply rounded-lg border;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-color: rgba(255, 255, 255, 0.18);
    }
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #E6DDD2;
}

::-webkit-scrollbar-thumb {
    background: #03346E; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #03346E #E6DDD2; 
}