body {
    position: absolute;

    margin: 0px;

    padding-top: 10px;
    padding-bottom: 10px;

    width: 100%;
    height: 100%;

    overflow-x: hidden;

}

.header {
    position: relative;

    text-align: center;

    top: 30px;

    font-family: 'Lucida Sans';
    font-weight: 300;
    letter-spacing: 3px;

    color: rgb(92, 92, 92);
}

.content{
    display: inline-block;
    position: absolute;

    width: 98vw;
    height: 100%;

    margin: 10px 0px;
    padding: 10px 0px;

    left: 50%;
    top: 10vh;

    transform: translate(-50%, 0);
}

#groups{
    display: inline-block;
    position: absolute;

    text-align: center;

    width: 80vw;

    left: 50%;
    top: 5vh;

    padding: 20px;
    margin-bottom: 20px;

    transform: translate(-50%,0);

}

.group{
    display: inline-block;
    position: relative;

    text-align: center;
    
    top: 0px;
    
    height: 20vh;
    width: 20vw;

    margin: 20px;
    padding: 20px;

    border: 1px solid rgb(0, 0, 0);
}
